<h1>To do list</h1>
<%= render 'form', :label => 'Add TODO' %>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class='<%= "done" if item.done %>'><%= item.description %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Toggle', item_toggle_path(item), method: :post, data: {confirm: 'Are you sure you want to mark as ' + (item.done ? 'not done' : 'done') + '?'} %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
